{% extends 'base.html' %}

{% block 'content' %}
The following people can help answer your questions:
<div class="contact-row">
  <div class="contact-box">
    <h1>Joseph Merrell</h1>
    <h2>CEO and general manager</h2>
    <a href="mailto:jmerrell@eastroadtrading.com" title="E-mail Joseph">
      jmerrell@eastroadtrading.com
    </a>
  </div>
  <div class="contact-box">
    <h1>Amberdine Sung</h1>
    <h2>CEO and general manager</h2>
    <a href="mailto:amberdine@eastroadtrading.com" title="E-mail Amberdine">
      amberdine@eastroadtrading.com
    </a>
  </div>
</div>
<div class="contact-row">
  <div class="contact-box">
    <h1>Mark Wolf</h1>
    <h2>Account Manager - Eastern USA</h2>
    <a href="mailto:mwolf@eastroadtrading.com" title="E-mail Mark">
      mwolf@eastroadtrading.com
    </a>
  </div>
  <div class="contact-box">
    <h1>Adam Levenburg</h1>
    <h2>Account Manager - Western USA</h2>
    <a href="mailto:alevenburg@eastroadtrading.com" title="E-mail Adam">
      alevenburg@eastroadtrading.com
    </a>
  </div>
</div>
{% endblock %}
