<!-- List of possible beers to buy -->
<div class="beer-list">
  <div class="row">
    <div class="col-md-10">
      <h1><span class="glyphicon glyphicon-glass"></span>
	{{ 'BEER_STORE.TITLE' | translate}}
      </h1>
    </div>
    <div class="beer-cart-btn" ng-include="'/static/beer-cart.html'">
    </div>
  </div>

  <table class="table table-striped">
    <tr ng-repeat="beer in beerList track by $index" class="beer-row">
      <td>
	<a href="/beer/{{ beer.id }}/{{ beer.name | slugify }}/"
	   title="Details for {{ beer.name }}">
	  <img src="/media/{{ beer.thumbnail }}" alt="{{ beer.name }}" />
	</a>
      </td>
      <td>
	<a href="/beer/{{ beer.id }}/{{ beer.name | slugify }}/"
	   title="Details for {{ beer.name }}">
	  <h1 class="beer-name">{{ beer.name }}</h1>
	</a>
	<span class="brewery">
	  {{ 'BEER_STORE.STYLE' | translate:style }}
	  {{ 'BEER_STORE.BREWERY' | translate:brewery }}
	</span>
      </td>
      <td>{{ 'BEER_STORE.DESCRIPTION' | translate:beer }}
	<span class="text-warning" ng-show="beer.stock <= 0">
	  [{{ 'BEER_STORE.OUT_OF_STOCK' | translate }}]</span>
      </td>
      <td>
	{{ beer.price }} {{ 'BEER_STORE.CURRENCY' | translate }}
      </td>
      <td>
	<form class="form-inline" novalidate>
	  <div class="form-group">
	<label for="quantity" class="sr-only" translate>BEER_STORE.QUANTITY_PLACEHOLDER</label>
	<input type="number" ng-model="quantity"
	       id="quantity" min="0"
	       placeholder="{{ 'BEER_STORE.QUANTITY_PLACEHOLDER' | translate }}" />
	</div>
	<button class="invalid" type="button" disabled ng-hide="quantity > 0"
		translate>BEER_STORE.ADD_BUTTON</button>
	<button class="valid" type="button" ng-click="addToOrder(quantity)"
		ng-show="quantity > 0" translate>BEER_STORE.ADD_BUTTON</button>
	</form>
      </td>
    </tr>
  </table>
</div>

<ng-include src="'/static/beer-cart-modal.html'"></ng-include>
