<!-- Shopping cart modal -->
<div class="beer-cart-modal" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">
	  <span class="cart-icon"></span>
	  {{ 'BEER_STORE.CART.TITLE' | translate }}
	</h4>
      </div>
      <div class="modal-body" ng-include="'/static/order-table.html'">
      </div>
      <div class="modal-footer">
	<button type="button" class="btn btn-link"
		ng-click="currentOrder.reset()"
		ng-disabled="currentOrder.length < 1"
		translate>BEER_STORE.CART.RESET</button>
        <button type="button" class="btn btn-default"
		data-dismiss="modal" translate>CLOSE_BUTTON</button>
        <button type="submit" class="btn btn-primary"
		ng-click="checkout()"
		ng-disabled="currentOrder.length < 1">
	  {{ 'BEER_STORE.CART.SUBMIT' | translate }}
	  <span class="glyphicon glyphicon-chevron-right"></span>
	</a>
      </div>
    </div>
  </div>
</div>
