<script type="text/ng-template" id="form-errors.html">
  <ul class="errors">
    <li class="error-required" translate>FORMS.REQUIRED</li>
    <li class="error-email" translate>FORMS.INVALID_EMAIL</li>
  </ul>
</script>

<div class="checkout-header">
  <a href="/beer/" class="back-btn">
    <span class="back-icon"></span>
    {{ 'BEER_DETAIL.BACK_BUTTON' | translate }}
  </a>
  <h1 class="checkout-title" translate>CHECKOUT.TITLE</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <form class="checkout-form" role="form" name="form" novalidate>
      <fieldset>
      <div class="form-group required">
	<div class="col-sm-8 col-sm-offset-4" translate>
	  FORMS.REQUIRED_LABEL
	</div>
      </div>
      <div class="form-group">
	<label class="control-label required" for="f_name" translate>
	  FORMS.NAME_LABEL
	</label>
	<div class="col-sm-4">
	  <input id="first_name" ng-model="order.f_name" required
		 type="text" placeholder="{{ 'CHECKOUT.FNAME_PLACEHOLDER' | translate }}" />
	  <div ng-include="'form-errors.html'"></div>
	</div>
	<div class="col-sm-4">
	  <input id="last_name" ng-model="order.l_name" required
		 type="text" placeholder="{{ 'CHECKOUT.LNAME_PLACEHOLDER' | translate }}" />
	  <div ng-include="'form-errors.html'"></div>
	</div>
      </div>
      <div class="form-group">
	<label class="control-label" for="company" translate>CHECKOUT.COMPANY_LABEL</label>
	<div class="col-sm-8">
	  <input id="company" ng-model="order.company_name"
		 type="text" />
	  <div ng-include="'form-errors.html'"></div>
	</div>
      </div>
      <div class="form-group">
	<label class="control-label required" for="email" translate>FORMS.EMAIL_LABEL</label>
	<div class="col-sm-8">
	  <input id="email" ng-model="order.email" required
		 type="email" />
	  <div ng-include="'form-errors.html'"></div>
	</div>
      </div>
      <div class="form-group">
	<label class="control-label required" for="address" translate>CHECKOUT.ADDRESS_LABEL</label>
	<div class="col-sm-8">
	  <textarea id="address" ng-model="order.shipping_address" required />
	  <div ng-include="'form-errors.html'"></div>
	</div>
      </div>
      <div class="form-group">
	<label class="control-label" for="phone" translate>CHECKOUT.PHONE_LABEL</label>
	<div class="col-sm-8">
	  <input id="phone" ng-model="order.phone" class="has-error"
		 type="tel" />
	  <div ng-include="'form-errors.html'"></div>
	</div>
      </div>
      <div class="form-group">
	<div class="col-sm-8 col-sm-offset-4">
	  <button class="btn btn-primary" ng-click="submitOrder()" translate>
	    FORMS.SUBMIT_BUTTON</button>
	  <button class="btn btn-link" ng-click="reset()" translate>
	    FORMS.RESET_BUTTON</button>
	</div>
      </div>
      </fieldset>
    </form>
  </div>

  <!-- Order summary column -->
  <div class="checkout-summary">
    <h2 translate>CHECKOUT.SUMMARY</h2>
    <div ng-include="'/static/order-table.html'"></div>
  </div>
</div>
