<script type="text/ng-template" id="contact-box.html">
  <h1 translate>CONTACT.{{ person }}.NAME</h1>
  <h2 translate>CONTACT.{{ person }}.POSITION</h2>
  <a href="mailto:{{ 'CONTACT.' + person + '.EMAIL' | translate }}"
     title="E-mail {{ 'CONTACT.' + person + '.NAME' | translate }}" translate>
    CONTACT.{{ person }}.EMAIL
  </a>
</script>

<p translate>CONTACT.WELCOME</p>
<div class="contact-row">
  <div class="contact-box"
       ng-repeat="person in ['JOE', 'AMBER']" ng-include="'contact-box.html'">
  </div>
</div>
<div class="contact-row">
  <div class="contact-box"
       ng-repeat="person in ['MARK', 'ADAM']" ng-include="'contact-box.html'">
  </div>
</div>
