<script type="text/ng-template" id="contact-box.html">
  <h1 translate>CONTACT.{{ person }}.NAME</h1>
  <h2 translate>CONTACT.{{ person }}.POSITION</h2>
  <a href="mailto:{{ 'CONTACT.' + person + '.EMAIL' | translate }}"
     title="E-mail {{ 'CONTACT.' + person + '.NAME' | translate }}" translate>
    CONTACT.{{ person }}.EMAIL
  </a>
</script>

<h2 translate>CONTACT.TITLE</h2>

<div class="row">
  <!-- Form for general inquiries -->
  <div class="col-md-6">
    <form role="form" class="contact-form form-horizontal"
	  ng-class="{dirty: isDirty}"
	  name="form" ng-controller="contactForm" novalidate>
      <div class="form-group">
	<label for="contactName" class="control-label" translate>CONTACT_FORM.NAME_LABEL</label>
	<div class="form-input">
	<input type="text" id="contactName" ng-model="message.name"
	       placeholder="{{ 'CONTACT_FORM.NAME_PLACEHOLDER' | translate }}" />
	</div>
      </div>
      <div class="form-group">
	<label for="contactEmail" class="control-label" translate>CONTACT_FORM.EMAIL_LABEL</label>
	<div class="form-input">
	  <input type="email" id="contactEmail" name="email" required ng-model="message.email"
		 placeholder="{{ 'CONTACT_FORM.EMAIL_PLACEHOLDER' | translate }}" />
	  <ul class="errors">
	    <li class="error-required" translate>CONTACT_FORM.ERROR_REQUIRED</li>
	    <li class="error-email" translate>FORMS.INVALID_EMAIL</li>
	  </ul>
	</div>
      </div>
      <div class="form-group">
	<label for="contactSubject" class="control-label" translate>CONTACT_FORM.SUBJECT_LABEL</label>
	<div class="form-input">
	  <select id="contactSubject" ng-model="message.subject">
	    <option translate>CONTACT_FORM.SUBJECTS.GENERAL</option>
	    <option translate>CONTACT_FORM.SUBJECTS.RETAILER</option>
	    <option translate>CONTACT_FORM.SUBJECTS.BREWERY</option>
	  </select>
	</div>
      </div>
      <div class="form-group">
	<label for="contactMessage" class="control-label" translate>CONTACT_FORM.MESSAGE_LABEL</label>
	<div class="form-input">
	  <textarea id="contactMessage" ng-model="message.body"
		    placeholder="{{ 'CONTACT_FORM.MESSAGE_PLACEHOLDER' | translate }}"></textarea>
	</div>
      </div>
      <div class="form-group">
	<div class="control-label"></div>
	<div class="form-input">
	  <button type="submit" class="btn btn-primary"
		  ng-click="submit(message)" translate>
	    CONTACT_FORM.SEND_BUTTON
	  </button>
	  <button class="btn btn-link"
		  ng-click="reset()" translate>CONTACT_FORM.RESET_BUTTON</button>
	</div>
      </div>

      <!-- Feedback for after form submission -->
      <div class="alert alert-info" ng-show="status === 'pending'" translate>
	CONTACT_FORM.STATUS_PENDING
      </div>
      <div class="alert alert-success" ng-show="status === 'success'" translate>
	CONTACT_FORM.STATUS_SUCCESS
      </div>
      <div class="alert alert-danger" ng-show="status === 'fail'" translate>
	CONTACT_FORM.STATUS_ERROR
      </div>

    </form>
  </div>

  <!-- Contact information for customer service -->
  <div class="col-md-6">
    <p translate>CONTACT.WELCOME</p>
    <div class="contact-row">
      <div class="contact-box"
	   ng-repeat="person in ['JOE', 'AMBER']" ng-include="'contact-box.html'">
      </div>
    </div>
    <div class="contact-row">
      <div class="contact-box"
	   ng-repeat="person in ['MARK', 'ADAM']" ng-include="'contact-box.html'">
      </div>
    </div>
  </div>
</div>
